<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>

<h1>Categories</h1>

<form action="/categories" method="post">

    <input type="text"
           name="name"
           placeholder="Category name">

    <button type="submit">
        Add Category
    </button>

</form>

<hr>

<div th:each="category : ${categories}">

    <h3 th:text="${category.name}"></h3>

    <form th:action="@{'/categories/delete/' + ${category.id}}" method="post">
        <button type="submit">Delete</button>
    </form>

</div>

</body>
</html>